{% extends "layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
<h2 style="text-align: center; font-family: 'Arial';">ABOUT US</h2> <hr style="width:30%;text-align:center;background-color:#5b50d9;">

<p style= "font-family: 'Arial';""><b>BSB</b> is the finest charter company in India, 
    specialized in luxury vacations trying to transform fantasy into facts. 
    With access to best in class charter vessels around India, our expert team will find the perfect yacht for your individual needs. 
    BSB handles a fleet of over 400 boats across India.</p>

<p style= "font-family: 'Arial';">Our team of professionals is committed to excellence and our collective experience in the yachting industry enables us to offer you all the options, ideas, information and local knowledge you need to plan the perfect Boating experience.</p>

<p style= "font-family: 'Arial';">Yachts are no longer only for the wealthy few who can take pleasure of sailing in an enjoyable and lavish manner to stunning locations, Boat Booking India now makes it accessible at a range of cost options that permit you to choose best yachts which suit your needs as well as at your own budget. With Boat Booking India, there is an unbelievable range of exciting yacht choices accessible to you and charter prices covering all your requirements.</p>

<p style= "font-family: 'Arial';">We offer opportunity for a custom-made boating experience most people only dream about. Your Journey of a Lifetime is just a phone call or order away.</p>

{% endblock content %}

