{% extends "layout.html" %}
{% block title %}
Cabin Yachts
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h3>BAYLINER 340</h3>
       {% load static %} <img src="{% static "media/boatpic/cabin/bayliner_340_1.jpg" %}" alt="bayliner_340" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>CABIN YACHT</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>GOKARNA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h3>SEA RAY 330</h3>
        {% load static %}  <img src="{%  static "media/boatpic/cabin/Searay_330_2.jpg" %}" alt="SEA RAY 330" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>CABIN YACHT</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>GOA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="para">
    <h4 style="color: gray;">CHARTER CABIN YACHT</h4>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    BSB a premium yacht charter company provides yacht and private boat cruises for any holiday and event in Murdeshwara and Goa. 
    Chartering a cabin cruiser yacht should be the ultimate experience or an unforgettable vacation. 
    Life is awesome at cabin cruisers. It is ideal for faraway destinations along with gracious lifestyle. 
    Above are the cabin cruiser option provided by the BSB for your rental.
</p>

</div>

{% endblock content%}