{% extends "layout.html" %}
{% block title %}
Motor Yachts
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h3>AZIMUT 39</h3>
        {% load static %}  <img src="{% static "media/boatpic/motor/azimut_39_2.jpg" %}" alt="azimut_39" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Motor Yachts</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>MURDESHWARA & GOA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>39</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h3>FAIRLINE 55</h3>
        {% load static %}  <img src="{% static "media/boatpic/motor/fairline_55_1.jpg" %}" alt="fairline_55" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Motor Yachts</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>GOA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <h3>LAGOON 44</h3>
        {% load static %} <img src="{% static "media/boatpic/motor/lagoon_44_2.jpg" %}" alt="lagoon_44" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Motor Yachts</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>GOA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>44</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
<div class="row">
    <div class="col">
        <h3>MAJESTY 66</h3>
        {% load static %} <img src="{% static "media/boatpic/motor/majesty_66_10.jpg"%}"  alt="majesty_66" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Motor Yachts</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>MURDESHWARA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>66</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h3>PRINCESS 54</h3>
        {% load static %} <img src="{% static "media/boatpic/motor/princess_54_1.jpg" %}" alt="princess_54" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Motor Yachts</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>GOA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>44</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h3>FERETTI 550</h3>
        {% load static %} <img src="{% static "media/boatpic/motor/feretti_550_3.jpg" %}" alt="feretti_550" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Motor Yachts</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>MURDESHWARA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
<div class="para">
    <h4 style="color: gray;">Motor Yachts- Luxury,Speed & Power</h4>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    Should you opt for a motor yacht or a sailing yacht on your sailing trip?
     Do you prefer to be one with the nature and use just the wind power or you enjoy 
     the speed and the excitement of powerful engines?
</p>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    If you like speed, power and freedom coupled with taste of salt on your skin and the vastness of the sea, 
    then motor yacht is the preferred yacht for you.The feeling of awesomeness and ultimate power over the sea is felt when you aboard one of these beauties offered by 
    BSB.
</p>


</div>

{% endblock content%}
