{% extends "layout.html" %}
{% block title %}
Sail Yachts
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h3>ISLAND SPIRIT 401</h3>
        {% load static %} <img src="{% static "media/boatpic/sailY/island_spirit_401.jpg" %}" alt="island_spirit_401" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>SAIL YACHT</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>MURDESHWARA,GOA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h3>JEANNEAUE 45</h3>
        {% load static %} <img src="{%  static "media/boatpic/sailY/jeanneaue_45.jpg" %}" alt="jeanneaue_45" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>SAIL YACHT</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>MURDESHWARA,GOA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>54</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h3>LAGOON 560</h3>
        {% load static %} <img src="{%  static "media/boatpic/sailY/lagoon_560.jpg" %}" alt="lagoon_560" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>SAIL YACHT</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>MURDESHWARA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="para">
    <h4 style="color: gray;">Sail Yacht Charter</h4>
    <p style="line-height:1.75em;margin: 0 0 1.5em;">
        Sail yacht charters are perfect yachts for the one who wants worlds adventure and luxury at the same time. 
        At BSB we have extensive fleets of sail yachts to choose from for charter.
        You can rent your sail yacht and go on sailing cruise in the harbour, to experience the trill and excitement 
        and then anchor the yacht to simply relax and have fun with with your loved ones. 
        Sail yacht is ideal for birthday parties, social gathering or a romantic date. 
        These are some of the possibilities. Explore our yacht above to find the one that best suits your requirement.
    </p>
    <p style="line-height:1.75em;margin: 0 0 1.5em;">
        Sailing is an activity which can rejuvenate people leading a hectic life. And enjoying the serene waters of Murdeshwara, 
        Goa can make your life blissful. There are many services which offer a great deal if you enjoy sailing especially 
        from Gateway of India. Yachts and charters are available in India for couples, families, college groups.. 
        These experiences can make your day special be it a birthday, anniversary or just like that. 
        So what are you waiting and book your boats online!
    </p>
    <h4 style="color: gray;">Adventure Sailing</h4>
    <p style="line-height:1.75em;margin: 0 0 1.5em;">
        An adventure is where you dare to step out of your comfort zone and try something new. Sail at Gateway of India and explores the untouched concept of sailing with world class sail boats. 
        Have you have never sailed before, never been on a sailing holiday or a leisure sailing ride on your own? 
        Just arrive on the dockside of gateway club ( sailing), avail our services and have your very own sail boat. 
        While sailing oyster rock will followed once you cross the light house. Here’s your chance to venture out into 
        the unknown world of sailing. Our experienced crew will assist during the sail, which not only makes it adventures 
        and memorable but a new experience too! Don’t wait! Book your sail online with us…
    </p>
    <h4 style="color: gray;">Sunset Sailing</h4>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    Sunset sail around the beautiful and heritage capital of Goa. Located on the Konkan coast, this is 
    one of the most beautiful coastlines in the world with a rich abundance of flora and fauna and pristine beaches. Here’s your unique chance to be in the lap of nature, amidst the coolness of the setting Sun and the midst of sea birds. 
    This could be an ideal birthday, anniversary celebration, ideal for couples and families too. Sunset sailing is one of the most enjoyable forms of leisure sailing. 
    To book your sail online and to avail our exclusive Murdeshwara, Colaba, Goa sailing yacht / boat packages, do visit us.
</p>
    <h4 style="color: gray;">Date on a Yacht</h4>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    Here is a chance to surprise your loved ones! Our “Date on a Yacht” is a customized yacht ride package designed exclusively
     for couples. Water, one of Gods divine natural resources. Never ending, infinite, timeless, immortal and divine; 
     just like love! A unique leisure sailing experience. What could be more special than a special occasion like a birthday 
     celebration at a pristine Murdeshwara , Goa beach associated with infinite love? Whether it’s a proposal, 
     birthday, anniversary, make it special for your loved one thorough sailing. To be at sea with thee! A yacht ride with your beloved 
     to take your relationship to a mysterious, yet passionate level and make it the most memorable moment of your togetherness. 
     So? What are you waiting for? Book your sail online at…
</p>

</div>

{% endblock content%}