{% extends "layout.html" %}
{% block title %}
Sail Boats
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h3>J 24</h3>
        {% load static %} <img src="{% static "media/boatpic/sailB/j_24_1.jpg" %}" alt="j_24" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Sail Boat</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>MURDESHWARA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h3>SEA BIRD</h3>
        {% load static %}  <img src="{% static "media/boatpic/sailB/seabird_1.jpg" %}" alt="SEA BIRD" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Sail Boat</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>MURDESHWARA & GOA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="para">
    <h4 style="color: gray;">Sail Boats</h4>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    Sailing is one amazing activity you must try atleast ones in your life, just ones. 
    The reason we said only once because once you try sailing you would love to try it again and again. 
    Yes sailing is an addictive activity that you want to get addicted too.
</p>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    BSB offers sailboat charters - ideal and affordable for almost everyone – couples, college students, working professionals, family, groups etc. and also for celebrating special 
    occasions with you best buddies. Simply select a yacht from the options above and let us know the time when you want to go sailing! 
    That's all - the 2 simple steps and you can sail your way. Come Sail with boat booking in your preferred destination Goa or MURDESHWARA and 
    release the stress. Unlimited Excitement at MURDESHWARA and Goa yacht charter is waiting for you..
</p>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    At Boat Booking India, we provide you with extensive fleet of boats, yachts on charter, rent , 
    hire in India. Sail with your family or surprise your loved ones , 
    corporate or social gathering, we have the foray to customized our packages according to your requirement. 
    Are you looking for an exclusive yacht or a sprint in a speed boat or if you want to host a 
    memorable party in a party boat!
</p>

</div>
{% endblock content %}