{% extends "layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
<h1 style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif' ;">
    WELCOME TO BSB! Boats and Yachts for your vacation time for booking in <br>GOA AND MURDESHWARA</h1>
<div style="text-align: center;">
    <p><b>The price for one person is Rs.900 and for children Rs.450 for Single Journey</b><span>(Including waiting hours)</span></p>
    
</div>
    <h2>Services</h2> <hr style="width:30%;text-align:center;background-color:#5b50d9;">
<div>
    <p style="line-height:1.75em;margin: 0 0 1.5em;"><b>Boat / Yacht Rental / Yacht Charter -</b> BSB, offers with extensive fleet of boats and yachts on charter, rent, hire in Kochin & Goa. 
        Now you can enjoy a day long yachting on private yacht in Goa or go on adventurous sailing in Murdeshwara. 
        Make your special event more special by yacht rental in Murdeshwara and Goa. We have the foray to customize our packages according to your requirement.</p>
    <p style="line-height:1.75em;margin: 0 0 1.5em;"><b>Boat parties / Yacht parties -</b> The unique way of celebrating at Goa, is being at yacht charters. Whether it could a Surprise party, Birthday, Gift, Weddings, Bachelorettes, Proposal and much more.</p>
    <p style="line-height:1.75em;margin: 0 0 1.5em;"><b>Corporate Events -</b> We also organise corporate meetings and team building events on yachts . Offer varied options to create a competitive environment and energetic atmosphere in teams through sailing and different water activities offered by us.</p>
    <p style="line-height:1.75em;margin: 0 0 1.5em;"><b>Food and Beverages on board - </b>Celebrity chefs are invited on board on guest demand. We provide food and beverages on demand ordered from desired restaurants. Guests are invited to enjoy our dining facilities on board and host private events on beautiful yachts.</p>
    <p style="line-height:1.75em;margin: 0 0 1.5em;"><b>Photo / Video Shoot -</b>Capture those special memories on yachts with breathtaking view. Photo Shoots on Yachts are now the new ideas on block to make wonderful memories. Yachts have been used for various video shoots for movies and entertainment. We provide you with various options for video shooting as well.</p>
    <p style="line-height:1.75em;margin: 0 0 1.5em;"><b>Weddings -</b>Capture those special memories on yachts with breathtaking view. Photo Shoots on Yachts are now the new ideas on block to make wonderful memories. Yachts have been used for various video shoots for movies and entertainment. We provide you with various options for video shooting as well.</p>
    <p style="line-height:1.75em;margin: 0 0 1.5em;"><b>Yacht Charters -</b>We provide you with extensive fleet of yachts on charter in India. BSB is the India's premier, luxury yacht charter company, providing mega yacht charters, super yacht charters & corporate yacht charters around the Indian seas.</p>
    <p style="line-height:1.75em;margin: 0 0 1.5em;"><b>Cruising on High Sea -</b>Whether you enjoy adventure or serenity, you would be having total rejuvenating experience with us. From the awe striking beauty of the yachts and boats to the nature you see around is all going to be experience worth remembering. So charter yacht with us in Murdeshwara and Goa.</p>
    
    

</div>
{% endblock content %}