{% extends "layout.html" %}
{% block title %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>GULFCRAFT 31</h3>
        {% load static %} <img src="{%  static "media/boatpic/speed/Gulfcraft-31.jpg" %}" alt="GULFCRAFT 31" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Speed Boat</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>MURDESHWARA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>25</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h3>SEA RAY 300</h3>
        {% load static %} <img src="{% static "media/boatpic/speed/sea_ray_300.jpg" %}" alt="SEA RAY 300" width="300" height="200">
        <table>
            <tbody>
                <tr>
                    <td>TYPE</td>
                    <td>Speed Boat</td>
                </tr>
                <tr>
                    <td>BASE</td>
                    <td>GOA</td>
                </tr>
                <tr>
                    <td>SIZE</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>CABIN</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>GUEST DAY CRUISING</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>GUEST SLEEPING ON</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>BOAT SPEED IN KNOTS</td>
                    <td>25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="para">
    <h4 style="color: gray;">Rent Speed Boat from MURDESHWARA to MUMBAI</h4>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    Private Speedboat to Alibaug offer the ultimate convenience, there's no need to wait for other guests or a scheduled time to depart.
     Taking as little as 20 minutes to make the journey Speedboat transfers to Alibaug are the fastest and offer the most flexible transfer options.
      The only schedule is YOUR schedule.Your luggage is loaded by us and ur journey from MURDESHWARA to Alibaug can sail in style..!!!
</p>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    Speedboat from Gateway to Alibaug are definitely a very cool and stylish way to travel, instead of just being shifted from one place to another.
     Charter a private speed boat could be like sailing privately with your luggage. 
     The best part of hiring a private speed boat is you dont have to follow others schedule. 
     Just Book your speed boat and leave at your convenience. But luxury comes with a price.
</p>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    It can take as little as 20 minutes from Gateway of India, Murdeshwara to Mumbai by speedboat. This ride is much smaller than that of ferry which takes 1 hr. 
    Speed boats are much suitable to whether conditions and which slows down hiring the climatic change this is not the case with ferry or boats. 
    With Boat Booking India you don't have to worry about safety, all speed boats come with life jacket and if you don't get them ask for them. 
    Speed boat rides are allowed in evening and nite but we avoid such rides because customers safety is our first priority.
</p>
<p style="line-height:1.75em;margin: 0 0 1.5em;">
    The speedboats are privately hired for a specific set of journey. 
    The number of passengers allowed in speed boat are 6, 10, 12, 15. 
    So hire a speed boat and sail with your friends and family at the best price offered by BSB. 
    Speed boat rides will never be as cheap as the ferry but the cheapest option is not always the best option.
</p>
</div>
{% endblock content %}